@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bagel Fat One", system-ui;
}

body{
    background-image: url("../image/Layer\ 0.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* HEADER */

header{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

nav{
    margin-left: auto;
    margin-right: 40px;
}

#logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#logo h3{
    color: #ffcf4d;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #ffd84d;
    border-radius: 20px;
    transition: 0.3s;
}

#home:hover{
    color: #FF7BBC;
}

#home:hover::after{
    background-color: #FF7BBC;
}

#missions:hover{
    color: #F0E731;
}

#missions:hover::after{
    background-color: #F0E731;
}

#parent:hover{
    color: #73D45D;
}

#parent:hover::after{
    background-color: #73D45D;
}

#about:hover{
    color: #E787FF;
}

#about:hover::after{
    background-color: #E787FF;
}

#profile{
    display: flex;
    align-items: center;
    margin-right: 10px;
    background: linear-gradient(to right,#fffb0076,#ff950077);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 10px 18px;
    border-radius: 40px;
    transition: 0.3s;
}

#profile:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,216,77,0.7);
}

#profile img{
    border-radius: 50%;
}

#profile p{
    font-size: 16px;
}

/* HERO */

#hero{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-title{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#hero-title h2{
    font-size: 36px;
    margin-left: -10px;
}

#hero-title img{
    width: 70px;
}

#hero-text p{
    margin-top: 10px;
    font-size: 16px;
    color: #ddd;
}

#hero-image img{
    width: 800px;
    transition: 0.3s;
    opacity: 50%;
}

#hero-image img:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.5));
}

/* CARDS */

#cards{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card{
    background: rgba(255,255,255,0.02);
    backdrop-filter: blur(02px);
    border-radius: 30px;
    padding: 25px;
    display: flex;
    align-items: center;
    width: 31%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px) scale(1.02);
    background: rgba(255,255,255,0.18);
    box-shadow: 0 0 30px rgba(255,255,255,0.25);
}

.card img{
    width: 70px;
    margin-right: 25px;
}

.card h3{
    font-size: 32px;
}

.card h2{
    margin-top: 10px;
    color: #b6ff2f;
    font-size: 36px;
}

/* PROGRESS */

progress{
  -webkit-appearance: none;
  appearance: none;
  width: 95%;
  height: 26px;
  border: none;
  margin: 50px auto 20px auto;
  display: block;
}

progress::-webkit-progress-bar{
    background-color: #444;
    border-radius: 20px;
}

progress::-webkit-progress-value{
    background: linear-gradient(to right,#d4ff005c,#77ff006f);
    border-radius: 20px;
}

#progress{
    width: 90%;
    margin: 30px auto;
    background: rgba(255,255,255,0.02);
    backdrop-filter: blur(2px);
    padding: 35px;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 20px;
}

#progress:hover{
    box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#title{
    display: flex;
    align-items: center;
}

#title img{
    width: 80px;
}

#title h2{
    font-size: 36px;
    margin-left: 15px;
}

#treasure img{
    width: 120px;
    transition: 0.4s;
}

#treasure img:hover{
    transform: rotate(-8deg) scale(1.1);
}

#info{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

#info p{
    font-size: 16px;
    color: #B2B2B2;
}

/* ACTIVITY */

#activity{
    width: 90%;
    margin: auto;
    background: rgba(255,255,255,0.02);
    backdrop-filter: blur(02px);
    padding: 30px;
    border-radius: 35px;
}

#activity h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.one{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(02);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.3s;
}

.one img{
    margin-right: 20px;
}

.one:hover{
    transform: scale(1.02);
    background: rgba(255,255,255,0.18);
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
}

.one h3{
    font-size: 32px;
    color: #ffd76b;
}

.one p{
    font-size: 16px;
    margin-top: 8px;
    color: #B2B2B2;
}

.one span{
    color: white;
}

/* BOTTOM SECTION */

#bottom{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.box{
    font-size: 24px;
    background: rgba(255,255,255,0.02);
    backdrop-filter: blur(02px);
    padding: 25px;
    border-radius: 30px;
    transition: 0.4s;
    width: 32%;
}

.box:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(255,255,255,0.2);
}

.box h2{
    margin-bottom: 20px;
    font-size: 36px;
}

.option{
    margin-bottom: 15px;
}

.option button{
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(02);
    color: white;
    font-size: 24px;
    text-align: left;
    transition: 0.3s;
}

.option button:hover{
    background: linear-gradient(to right,#7d5fff,#ff6fd8);
    transform: translateX(8px);
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.setting{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.setting h3{
    width: 260px;
    font-size: 24px;
}

.setting input{
    width: 30px;
    height: 30px;
}

.setting button{
    width: 100%;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(02);
    border: none;
    border-radius: 15px;
    padding: 18px;
    color: white;
    font-size: 24px;
    text-align: left;
    transition: 0.3s;
}

.setting button:hover{
    background: linear-gradient(to right,#7d5fff,#ff6fd8);
    transform: translateX(8px);
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.setting img{
    width: 50px;
    margin-right: 20px;
}

/* JOIN BUTTON */

#join{
    text-align: center;
    margin: 50px 0;
}

#join button{
    background-color: #9500ff6d;
    border: none;
    padding: 20px 45px;
    border-radius: 50px;
    color: white;
    font-size: 32px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    transition: 0.4s;
}

#join button:hover{
    transform: scale(1.08);
    box-shadow: 0 0 35px rgba(255,255,255,0.5);
    backdrop-filter: blur(02px);
}

/* FOOTER */

footer{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(3px);
    padding: 50px 5%;
    display: flex;
    justify-content: space-between;
}

footer div{
    width: 300px;
}

footer p{
    margin: 15px 0;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-bottom: 10px;
}

footer ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer ul li a:hover{
    color: #ffd84d;
    padding-left: 8px;
}

footer h2{
    margin-bottom: 15px;
}

footer img{
    transition: 0.3s;
}

footer img:hover{
    transform: rotate(8deg) scale(1.15);
    filter: drop-shadow(0 0 10px white);
}